body{
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9ebbb), to(#ffcf23)) fixed;
}

/* These CSS variables can be accessed by all classes and IDs used by subelements to the root element! */
:root{
    --calculator-width: 500px;
    --calculator-button-padding: 0.6em;
    --calculator-button-font-size: 2.5em;
    --calculator-input-area-height: 120px;
}

/* Calculator body's design */
.calculator{
    width: var(--calculator-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d478c;
    z-index: 1;
    border-radius: 4%;
    border: solid #1c2e6a;
    border-width: 2px 8px 15px; 
}

/* Arrange the calculator buttons into a 4 column grid */
.calculator-buttons-area{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px 10px;
    padding: 10% 5%;
}

/* Default state of the calculator button */
.calculator-buttons{
    display: flex;
    justify-content: center;
    padding: var(--calculator-button-padding);
    background-color: rgba(93, 128, 227, 0.8);
    border: solid rgba(62, 91, 172, 0.8);
    border-width: 2px 4px 8px;
    width: 105px;
    z-index: 2;
    box-shadow: 0px 4px 8px rgb(29, 48, 77);
    border-radius: 15%;
    cursor: pointer;
}

/* Shows that the calculator button is currently being hovered over by the mouse cursor */
.calculator-buttons:hover{
    background-color: rgb(110, 175, 224);
    border: solid rgb(77, 144, 195);
    border-width: 2px 4px 8px;
}

/* Shows that the clicked calculator button has been clicked */
.calculator-buttons:active{
    background-color: rgb(159, 207, 243);
    border: 2px solid rgb(77, 144, 195);
}

/* Controls how the number or operation's appearance on each calculator button */
.calculator-text{
    font-size: var(--calculator-button-font-size);
}

/* 
    Controls the appearance of the calculator area where the number and/or operations 
    the user enters through the calculator buttons and the result get displayed! 
*/
.calculator-input-area{
    background-color: #28FF00;
    width: calc(var(--calculator-width) - 50);
    height: var(--calculator-input-area-height);
    padding: 2%;
    margin: calc(var(--calculator-width) / 25);
    border-radius: 10px;
}