body{
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9ebbb), to(#ffcf23)) fixed;
}

:root{
    --calculator-width: 500px;
    --calculator-button-padding: 0.6em;
    --calculator-button-font-size: 2.5em;
    --calculator-input-area-height: 120px;
}

.calculator{
    width: var(--calculator-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d478c;
    z-index: 1;
    border-radius: 4%;
    border: 3px solid #203477;
    border-bottom: 18px solid #1c2e6a;
}

.calculator-buttons-area{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px 10px;
    padding: 10% 5%;
}

.calculator-buttons{
    display: flex;
    justify-content: center;
    padding: var(--calculator-button-padding);
    background-color: rgba(93, 128, 227, 0.8);
    border: 3px solid rgba(84, 118, 211, 0.8);
    width: 105px;
    z-index: 2;
    box-shadow: 2px 4px 6px rgb(29, 48, 77);
    border-radius: 15%;
}

.calculator-buttons:hover{
    background-color: rgb(157, 180, 220);
    border: 3px solid rgb(132, 152, 188);
}

.calculator-text{
    font-size: var(--calculator-button-font-size);
}

.calculator-input-area{
    background-color: #28FF00;
    width: calc(var(--calculator-width) - 50);
    height: var(--calculator-input-area-height);
    padding: 2%;
    margin: calc(var(--calculator-width) / 25);
    border-radius: 10px;
}